@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

html, button, input, select, textarea, div {
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
}

.thin{
    font-weight:300;
}

.center{
    text-align:center;
    margin:auto;
}

#ketupat{
    height: 16vw;
    min-height: 100px;
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
}

.ketupat-bg{
    background: url("../img/ketupat-pattern2.jpg")  repeat;
    background-size: 712px;
}

img.person{
    width:200px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

div.container{
    margin-bottom:50px;
}